<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.rtsp_test" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Bluecherry Test</name>
    <description>
        Test rtsp players
    </description>
    <author email="alex.melnikov@corp.bluecherry.net" href="http://bluecherry.com">
        Alex
    </author>
    <content src="index.html" />
    <preference name="permissions" value="none" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="14" />
    <preference name="android-installLocation" value="auto" />
    <preference name="webviewbounce" value="false"/>
    <preference name="UIWebViewBounce" value="false"/>
    <preference name="DisallowOverscroll" value="true"/>
    <preference name="BackupWebStorage" value="none"/>
    <preference name="SplashScreen" value="screen"/>
    <preference name="SplashScreenDelay" value="3000"/>
    <gap:plugin name="org.apache.cordova.battery-status" />
    <gap:plugin name="org.apache.cordova.camera" />
    <gap:plugin name="org.apache.cordova.media-capture" />
    <gap:plugin name="org.apache.cordova.console" />
    <gap:plugin name="org.apache.cordova.contacts" />
    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="org.apache.cordova.device-motion" />
    <gap:plugin name="org.apache.cordova.device-orientation" />
    <gap:plugin name="org.apache.cordova.dialogs" />
    <gap:plugin name="org.apache.cordova.file" />
    <gap:plugin name="org.apache.cordova.file-transfer" />
    <gap:plugin name="org.apache.cordova.geolocation" />
    <gap:plugin name="org.apache.cordova.globalization" />
    <gap:plugin name="org.apache.cordova.inappbrowser" />
    <gap:plugin name="org.apache.cordova.media" />
    <gap:plugin name="org.apache.cordova.network-information" />
    <gap:plugin name="org.apache.cordova.splashscreen" />
    <gap:plugin name="org.apache.cordova.vibration" />
    <plugin name="com.mcsqd.cordova.plugins.streamingmedia" spec="0.1.4" source="pgb" />
    <access origin="*" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <icon gap:platform="android" src="img/android/icon/drawable-ldpi-icon.png" density="ldpi"/>
    <icon gap:platform="android" src="img/android/icon/drawable-mdpi-icon.png" density="mdpi"/>
    <icon gap:platform="android" src="img/android/icon/drawable-hdpi-icon.png" density="hdpi"/>
    <icon gap:platform="android" src="img/android/icon/drawable-hdpi-icon.png" density="xhdpi"/>
    <icon gap:platform="ios" height="57" src="img/ios/icon/icon.png" width="57" />
    <icon gap:platform="ios" height="80" src="img/ios/icon/icon-40@2x.png" width="80" />
    <icon gap:platform="ios" height="50" src="img/ios/icon/icon-50.png" width="50" />
    <icon gap:platform="ios" height="60" src="img/ios/icon/icon-60.png" width="60" />
    <icon gap:platform="ios" height="72" src="img/ios/icon/icon-72.png" width="72" />
    <icon gap:platform="ios" height="76" src="img/ios/icon/icon-76.png" width="76" />
    <icon gap:platform="ios" height="29" src="img/ios/icon/icon-small.png" width="29" />
    <icon gap:platform="ios" height="58" src="img/ios/icon/icon-small@2x.png" width="58" />
    <gap:splash gap:platform="android" gap:qualifier="port-ldpi" src="img/android/icon/drawable-ldpi-icon.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-mdpi" src="img/android/icon/drawable-mdpi-icon.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-hdpi" src="img/android/icon/drawable-hdpi-icon.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-xhdpi" src="img/android/icon/drawable-hdpi-icon.png" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <access origin="*://*"/>
</widget>

