<ion-view style="" title="Tabs Controller">
    <ion-tabs style="" class="tabs-stable tabs-icon-top">
        <ion-tab style="" title="RTSP" icon="ion-ios-videocam" href="#/page1/page2">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab style="" title="m3u8" icon="ion-ios-videocam-outline" href="#/page1/page3">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab style="" title="mp4" icon="ion-ios-videocam-outline" href="#/page1/page4">
            <ion-nav-view name="tab4"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>
